<mat-toolbar color="primary">
    <span>
      <a routerLink="" mat-button>
        <mat-icon>library_books</mat-icon> AngularBooks
      </a>
    </span>
  
    <div>
      <a mat-button routerLink="books/filter">
        <mat-icon>search</mat-icon>Search books</a>
    </div>
  
    <div>
      <a mat-button routerLink="genres"> Genres </a>
    </div>
  
    <div>
      <a mat-button routerLink="authors"> Authors </a>
    </div>
  
    <div>
      <a mat-button routerLink="bookpublishers"> Book Publishers </a>
    </div>
  
    <div>
      <a mat-button routerLink="books/create"> Create Book </a>
    </div>
  </mat-toolbar>
  