<form [formGroup]= "bookform">
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Placeholder"  formControlName="title">
        
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Placeholder"  formControlName="price">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>ISBN</mat-label>
        <input matInput placeholder="Placeholder"  formControlName="ISbn">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput placeholder="Placeholder"  formControlName="date">
      </mat-form-field>
    
</form>